<div class="container mt-5 section-login">
  <h2 class="mb-2">Login</h2>
  <form [formGroup]="myForm" (ngSubmit)="submitForm()" class="section-form">
    <div class="mb-3">
      <label for="user" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        name="user"
        formControlName="user"
        [class.is-invalid]="fc.user.errors && fc.user.touched"
      />

      <div id="validationServer03Feedback" class="invalid-feedback">
        Usuario obligatorio.
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        formControlName="password"
        [class.is-invalid]="fc.password.errors && fc.password.touched"
      />
      <div id="validationServer03Feedback" class="invalid-feedback">
        Contraseña obligatoria.
      </div>
    </div>

    <button class="btn btn-primary">Submit</button>
  </form>
</div>
